body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    background-color: #000;
    color: #fff;
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.nav-button {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.nav-button:hover {
    background-color: #444;
    color: #fff;
}

.nav-logout {
    color: #ff4d4d;
}

.nav-logout:hover {
    background-color: #660000;
}

#report-container {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.filter-container input, button {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0 0.5rem;
}

#report-summary {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table thead {
    background-color: #28a745;
    color: white;
}

table th, table td {
    padding: 0.8rem;
    text-align: left;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
